* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 0;

}

/*-------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------- partie main -----------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*-------------------------------- partie header ------------------------------------*/
header{
    width: 100vw;
    height: 100vh;
}

nav {
    background: rgba(105, 105, 105, 0.4);
    display: flex;
    justify-content: center;
}

li {
    font-size: 1.3em;
}

.contact-header{
    font-size: 1.2em;
}
.navbar{
    width: 100vw;
    height: 8%;
}
.img-header{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/20200717_144022.jpg");
    opacity: 0.5;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.texte-defilant{
    max-width: 60em;                      /* largeur de la fenêtre */
    max-height: 40em;
    margin:auto;
    border: 10px solid #F0F0FF;
    overflow: hidden;                     /* masque tout ce qui dépasse */
    box-shadow: 0 .25em .5em #CCC,inset 0 0 1em .25em #CCC;
    background: lightyellow;
   opacity: 1;
    z-index: 2;
    font-size: 2em;
    color: black;
}

/*----- animation de défilement --------*/

.texte-defilant > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;
}


@keyframes defilement-rtl {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
}

/*----------------------------------------------------------------------------*/
/*---------------------------------- partie présentaion ----------------------*/

/*---------------------------------------------------------------*/
/*----------------- parties communes ----------------------------*/
.titre-section {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
}

p{
    font-size: 1.2em;

}



/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

.titre-presentation{
    z-index: 1;
    padding-bottom: 1em;
}

#presentation{
    width: 100vw;
    height: 100vh;
    background-color: rgba(240, 230, 140, 0.2);
    background-size: cover;
}

.presentation-section{
    margin:auto;
    padding-top: 4em;
}

.presentation-block {
    display: flex;
    justify-content: flex-start;
    margin-top: 3em;
}
.cercle{
    background-image:  url("../images/image_profil.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: flex-end;
    width: 300px;
    height: 300px;
    float: right;
    border: 1px solid #e3e3e3;
    border-radius: 100%;
    margin: auto;
}

.presentation-text{
    margin-top: 2em;
}

/*----------------------------------------------------------------------------*/
/*------------------------------- partie cv ----------------------*/

#cv{
    width: 100vw;
    height: 100vh;
    background: lightgrey;
    /*opacity: 0.1;*/
    margin: auto;

}

.cv-section{
    padding-top: 7em;
}

.text-cv {
    background: floralwhite;
}

.titre-cv{
    padding-bottom: 2em;
}


/*----------------------------------------------------------------------------*/
/*------------------------------- partie diplomes ----------------------*/

#diplomes{
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.1);
}

.diplomes-section{
    margin: auto;
    padding-top: 7em;
}

.titre-diplomes{
    padding-bottom: 1em;
}

/*---------carousel image--*/

.carousel-image{
    width: 100%;
    height: 600px;
}

.myCaption {
    color: black;
}

/*-------bouton de controle carousel -------------*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

/*-------------------------------------------------------------------------*/
/*------------------------------- realisations ----------------------------*/

#realisations{
    width: 100vw;
    height: 100vh;
    background: lightgrey;
}

.realisations-text{
    padding-top: 15px;
}

/*------ partie cards --*/

.card-realisations{
    margin-top: 50px;
}

.realisations-section{
    padding-top: 7em;
    z-index: 1;
}

.titre-realisation{
    padding-bottom: 1em;
}

.logo {
    border: 1px solid #ccc;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.clearfix {
    background: lightgray;
    display: flex;
    justify-content: center;
    bottom: 0;
    color: black;
}

/*.clearfix:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/*--------------------------------------------------------------------------*/
/*----------------------------------- partie contact -----------------------*/
/*#contact{*/
/*    margin-bottom: 50px;*/
/*    margin-top: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

#contact{
    width: 100vw;
    height: 100vh;
    background-color: lightcoral;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.contact-section{
    padding-top: 8em;
}

.contact-item{
    display: flex;
    justify-content: center;
    padding-top: 5em;
    flex-direction: column;
}

.social-button{
    display: flex;
    flex-direction: row;
    padding-top: 15em;
}

h3.card-title{
    font-size: 2em;
    font-weight: bold;
}

p.card-text{
    font-size: 1.2em;
}

card{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/*--------------------------------------------------------------------------*/
/*----------------------------------- partie footer  -----------------------*/
footer{
    width: 100vw;
    height: 5%;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- MEDIAS QUERIES--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/
@media screen
and (max-width: 211px){
    .card-body{
        font-size: 0.5em;
    }
}

@media screen
/*and (min-width: 214px)*/
and (max-width: 245px){
    .card-body{
        font-size: 0.8em;
    }
}

@media  screen
and (max-width: 293px){
    .presentation-section{
        padding-top: 0;
    }

    .card-realisations{
        display: none;
    }

    h3.card-title{
        font-size: 2em;
        font-weight: bold;
    }

    p.card-text{
        font-size: 1.2em;
    }

    .contact-section{
        padding-top: 0;
    }

    .contact-item{
        padding-top: 1em;
    }

    .social-button{
        /*display: none;*/
    }
}

@media  screen
and (max-width: 321px){
    .responsive {
        width: 100%;
    }
    .cercle{
        background-image:  url("../images/image_site97x211.png");
        background-repeat: no-repeat;
        background-position: center;
        align-items: flex-end;
        width: 130px;
        height: 130px;
        float: left;
        border: 1px solid #e3e3e3;
        border-radius: 100%;
        margin: auto;
    }

    #inlineFrameExample{
        width: 100%;
        height: 300px;
    }

    .cercle:hover{
        transform: scale(2);
    }

    .presentation-block {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .titre-section {
        display: flex;
        justify-content: center;
        font-size: 2em;
        font-weight: bold;
    }

    .presentation-section{
        /*padding-top: 1em;*/
    }

    .cv-section{
        padding-top: 1em;
    }

    .titre-cv{
        /*padding-bottom: 1em;*/
    }

    .carousel-image{
        width: 100%;
        height: 300px;
    }

    .carousel-image:hover{
        transform: scale(2);
    }

    #inlineFrameExample:hover{
        transform: scale(2);
    }

    .titre-presentation{
        z-index: 1;
        padding-bottom: 0;
    }

    .card-realisations{
        display: none;
    }
}

@media screen
and (max-width: 453px) {
    .responsive {
        width: 100%;
    }

    .social-button{
        padding-top: 5em;
    }

    .titre-presentation{
        z-index: 1;
        padding-bottom: 0;
    }

    .presentation-section{
        padding-top: 1em;
    }

    .diplomes-section{
        margin: auto;
        padding-top: 2em;
    }

    .titre-diplomes{
        padding-bottom: 1em;
    }

    .cv-section{
        padding-top: 2em;
    }

    #inlineFrameExample{
        width: 100%;
        height: 400px;
    }

    #inlineFrameExample:hover{
        transform: scale(2);
    }

    .presentation-text{
        height:460px;
        overflow: hidden;
        padding-top: 0;
    }

    .realisations-section{
        padding-top: 2em;
    }

    .titre-realisation{
        padding-bottom: 0;
    }

    .contact-section{
        padding-top: 2em;
    }

    .titre-section{
        font-size: 2em;
    }
    p{
        font-size: 1em;
    }

    .texte-defilant{
        font-size: 1.5em;
        color: black;
    }

    .cercle{
        background-image:  url("../images/image_site130x280.png");
        background-repeat: no-repeat;
        background-position: center;
        align-items: flex-end;
        width: 130px;
        height: 130px;
        float: left;
        border: 1px solid #e3e3e3;
        border-radius: 100%;
        margin: auto;
    }

    .cercle:hover{
        transform: scale(2);
    }

    .presentation-block {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .titre-cv{
        padding-bottom: 1em;
    }

    .carousel-image{
        width: 100%;
        height: 300px;
    }

    .carousel-image:hover{
        transform: scale(2);
    }

    .card-realisations{
        display: none;
    }

 }

@media screen
and (min-width: 454px)
and (max-width: 870px) {
    .responsive {
        width: 100%;
    }
    .cercle{
        background-image:  url("../images/image_site130x280.png");
        background-repeat: no-repeat;
        background-position: center;
        align-items: flex-end;
        width: 250px;
        height: 250px;
        float: left;
        border: 1px solid #e3e3e3;
        border-radius: 100%;
        margin: auto;
    }

    .presentation-block {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 0;
    }

    p{
        font-size: 1em;

    }

    .presentation-section {
        padding-top: 1.2em;
    }

    .titre-section {
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 1em;
    }

    .cv-section{
        padding-top: 1.2em;
    }

    .titre-cv{
        padding-bottom: 1em;
    }

    .diplomes-section{
        margin: auto;
        padding-top: 1.4em;
    }

    .contact-section{
        padding-top: 1.4em;
    }

    .social-button{
        padding-top: 5em;
    }

    .carousel-image{
        width: 100%;
        height: 400px;
    }

    .realisations-section{
        padding-top: 1.4em;
    }

    .carousel-image:hover{
        transform: scale(1.5);
    }

    #inlineFrameExample:hover{
        transform: scale(1.5);
    }

    .cercle:hover{
        transform: scale(1.5);
    }

    .card-realisations{
        display: none;
    }
}

@media screen
and(min-width: 722px)
and(max-width: 996px){
    .text-realisations-mobile{
        display: none;
    }
}

@media screen
and(min-width: 997px)
and(max-width: 1056px){
  .social-button{
      padding-bottom: 0;
  }

}

@media screen
and(max-width: 721px)
{
   .text-realisations-pc{
       display: none;
   }
}
@media  screen
and (min-width: 871px)
and (max-width: 996px){
    .diplomes-section{
        margin: auto;
        padding-top: 3em;
    }

    .contact-section{
        padding-top: 2em;
    }

    .contact-item{
        padding-top: 2em;
    }

    .titre-section {
        font-size: 1.9em;
        font-weight: bold;
        padding-bottom: 1em;
    }

    .social-button{
        padding-top: 4em;
    }

    .titre-diplomes{
        padding-bottom: 1em;
    }

    .cv-section{
        padding-top: 2em;
    }

    .titre-cv{
        padding-bottom: 1em;
    }

    .presentation-section{
        padding-top: 2em;
    }

    .carousel-image{
        width: 100%;
        height: 570px;
    }

    .card-realisations{
        display: none;
    }

    .presentation-text{
        margin-top: 0;
    }

    .realisations-section{
        padding-top: 2em;
    }

    .titre-realisation{
        padding-bottom: 1em;
    }

    .text-realisations{
        margin-top: 2em;
    }

}

@media screen
and (min-width: 501px)
and (max-width: 600px) {

    .presentation-section{
        margin:auto;
        padding-top: 5em;
    }

    .titre-diplomes{
        padding-bottom: 0;
    }

    .diplomes-section{
        padding-top: 3em;
    }

    .carousel-image{
        width: 100%;
        height: 400px;
    }

    .card-realisations{
        display: none;
    }

}











/*------------- pour flouter une image ---------------------*/
/*.img-header{*/
/*    -webkit-filter: blur(15px);*/
/*    filter: blur(3px);*/
/*    -webkit-transition: .3s ease-in-out;*/
/*    transition: .3s ease-in-out;*/
/*}*/

/*.img-header:hover{*/
/*    -webkit-filter: blur(0);*/
/*    filter: blur(0);*/
/*}*/

/*--------------- ----------------------------------------------*/


